[Desktop Entry]
Name=Hermes
Comment=Development Kit
Exec=/home/debian/hermes/hermes
Icon=/home/debian/hermes/images/RFMAppLogo.png
Terminal=false
Type=Application
Categories=Utility
MimeType=text/plain;
